@import url('https://fonts.googleapis.com/css?family=Concert+One');

@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body {
  background-color: #2D9CDB;  
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.weather {
font-family: Concert One;
font-size: 5rem;
color: #FBFBFB;
margin: 2rem;
}

.weather p:nth-child(2) {
  /* City */
  font-size: 3rem;
  margin: 2rem;
}

.weather p:nth-child(3) {
  /* Date */
  font-size: 1.5rem;
  margin: 2rem;
}

.weather p:nth-child(4) {
  /* Temp */
  margin: 5rem;
  font-size: 3rem;
  cursor: 'pointer';
}

.weather-box {
  display: flex;
  flex-flow: row;
  background: #FBFBFB;
  font-family: 'Fredoka One', cursive;
  align-items: center;
  justify-content: space-between;
  margin: 0 15rem 0 15rem;
  padding: 1rem;
  font-size: 2em;
  border-radius: 1rem 1rem 1rem 1rem;
}

.weather-box img {
  padding-top: 2rem;
  height: auto;
  width: 400px;
}

.humidity {
  font-size: 1.5rem;
  text-align: left;
  line-height: 2rem;
  padding-left: 1rem;
  white-space: nowrap;
}

.tempMax {
  padding-right: 1rem;
  font-size: 1.5rem;
  text-align: right;
  line-height: 2rem;
  white-space: nowrap;
}

@media only screen and (max-width: 1360px) {
  .weather-box {
    flex-flow: column;
  }
  
  .tempMax {
    order: 2;
    padding: 0 0 10px 0;
    text-align: center;
    line-height: 2rem;
  }
  
  .humidity {
    order: 3;
    padding: 0;
    text-align: center;
    line-height: 2rem;
  }
  
}

@media only screen and (max-width: 760px) {
  .weather-box {
    background: #2d9cdb;
  }
}