@font-face {
  font-family: 'myfont';
  src: url('fonts/Stellar-light.otf') format("opentype");
}

body {
  background: url(https://wallpapersite.com/images/pages/pic_w/14795.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: myfont;
}

.container {
  box-shadow: 8px 8px rgba(0, 0, 0, 0.918);
  color: rgba(255, 255, 255, 0.753);
  background-color: rgba(0, 0, 0, 0.418);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 280px;
  height: auto;
  max-height: 500px;
  padding: 2em;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.767);
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.inputField {
  width: 150px;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid ;
  outline: none;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.767);
  margin: 1em;
  text-align: center;
}

.inputField::placeholder {
  color: rgba(255, 255, 255, 0.473);
}

.submitButton {
  background: rgba(255, 255, 255, 0.562);
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.808);
  font-size: 16px;
  padding: 0.5em;


}

.description {
  font-size: 20px;
}

.weather p:nth-child(3) {
  /* Date */
  font-size: 1.5rem;
}

.weatherIcon {
  width: 130px;
  margin-top: 1em;
}

.humidity {
  text-align: right;
}

.tempMax {
  text-align: right;
}